// ------------------------------------------------------------
// Colors
// ------------------------------------------------------------

// -------------------------
// Palette
// -------------------------
$white:    #fff;
$grey:     #666;
$black:    #333;
$red:      #A22;
$green:    #2A2;
$blue:     #33A;

// -------------------------
// Specific
// -------------------------
$background-color:  $white;
$base-font-color:   $black;
$base-error-color:  $red;

// Link
$link-color:        $red;

// Selection
$selection-text-color:       $blue;
$selection-background-color: $white;

// -------------------------
// Social Colors
// -------------------------
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;
