// ------------------------------------------------------------
// Medias
// ------------------------------------------------------------

// -------------------------
// Image
// -------------------------
.o-Img,
.o-Img img {
  display: block;
  position: relative;
}

.o-Img { user-select: none; }

.o-Img img {
  pointer-events: none;
  @include size(100% auto);
  transition: opacity $transition-image-duration, transform $transition-image-duration;
}

.o-Img[lazy-load] {
  img { opacity: 0; }
  &.is-loaded img { opacity: 1; }
}

.o-BgImg[lazy-load] {
  opacity: 0;
  transition: opacity $transition-image-duration;
  &.is-loaded { opacity: 1;}
}

.o-BgImg {
  background-size: cover;
  background-position: 50%;

  &--pattern {
    background-size: auto;
    background-repeat: repeat;
  }
}

// -------------------------
// Sprite Svg
// -------------------------
.o-Sprite {
  display: inline-block;
  svg { display: block; }
}

// -------------------------
// Video
// -------------------------
.o-Video {
  display: block;
  position: relative;
  overflow: hidden;

  video {
    position: absolute;
    top: 0; left: 0;
    @include size(100%);
    object-fit: cover;
  }
}
