// ------------------------------------------------------------
// App
// ------------------------------------------------------------

// -------------------------
// 0 - Settings
// -------------------------
@import '0-settings/variables';
@import '0-settings/colors';
@import '0-settings/fonts';

// -------------------------
// 1 - Tools
// -------------------------
@import '1-tools/functions';
@import '1-tools/mixins';
@import '1-tools/breakpoints';
@import '1-tools/helpers';

// -------------------------
// 2 - Generic
// -------------------------
@import '2-generic/reset';
@import "2-generic/generic";
@import "2-generic/medias";
@import "2-generic/form";

// -------------------------
// 3 - Objects
// -------------------------
@import '3-objects/typography';
@import '3-objects/medias';
@import "3-objects/buttons";
@import '3-objects/layout';

// -------------------------
// 4 - Components
// -------------------------

// -------------------------
// 5 - Templates
// -------------------------


// -------------------------
// Helpers
// -------------------------

#Helpers {
//   display: none;
  z-index: 9998;
  pointer-events: none;

  @include fixed();

  > div {
    @include outerContainer();
    height: 100%;

    > div {
      @include size(100%);
      border-right: 1px $color-grid-debug-stripe solid;
      border-left: 1px $color-grid-debug-stripe solid;
    }
  }
}
