// ------------------------------------------------------------
// Medias
// ------------------------------------------------------------

// -------------------------
// Image
// -------------------------
.Img,
.Img img {
  display: block;
  position: relative;
}

.Img img {
  @include size(100% auto);
  transition: opacity $transition-image-duration, transform $transition-image-duration;
}

.Img[lazy-load] {
  img { opacity: 0; }
  &.is-loaded img { opacity: 1; }
}

// -------------------------
// Sprite Svg
// -------------------------
.Sprite {
  display: inline-block;
  svg { display: block; }
}

// -------------------------
// Video
// -------------------------
.Video {
  display: block;
  position: relative;
  overflow: hidden;

  video {
    position: absolute;
    top: 0; left: 0;
    @include size(100%);
    object-fit: cover;
  }
}

// -------------------------
// Video Players
// -------------------------

// --------
// Youtube
// --------
.YtVideo {
  position: relative;
  @include size(100% 0);
	padding-bottom: $ratio-16-9;
  padding-top: 25px;

  iframe {
    position: absolute;
    top: 0; left: 0;
    @include size(100%);
  }
}
