// ------------------------------------------------------------
// Colors
// ------------------------------------------------------------

// -------------------------
// Palette
// -------------------------
$white:            #fff;
$black:            #000;
$red:              #e32a37;
$green:            #7ed321;

// -------------------------
// Specific
// -------------------------
$background-color:  $white;
$font-base-color:   $black;
$base-error-color:  $red;

// Link
$link-color: $white;

// Selection
$selection-text-color:       $white;
$selection-background-color: $red;

$color-highlight: $white;

// -------------------------
// Social Colors
// -------------------------
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;


// -------------------------
// Debug
// -------------------------
$color-grid-debug-stripe: rgba(cyan, .3);
$color-grid-debug-bg: transparent;
