// ------------------------------------------------------------
// Colors
// ------------------------------------------------------------

// -------------------------
// Palette
// -------------------------
$white:           #fff;
$black:           #333;
$grey:            #666;
$blue:            #25A;
$green:           #0A5;
$red:             #A22;

// -------------------------
// Specific
// -------------------------
$background-color:  $white;
$font-base-color:   $black;
$base-error-color:  $red;

// Link
$link-color:        $blue;

// Selection
$selection-text-color:       $green;
$selection-background-color: $white;

// -------------------------
// Social Colors
// -------------------------
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;
